<section>
    <h2 data-bind="html: displayName"></h2>
    <blockquote data-bind="html: description"></blockquote>
    <h3>test binds</h3>

    <div class="alert alert-success">
        <h4>Below is data!</h4>
    </div>

    <div data-bind="foreach: applications">
        <h1 data-bind="text: ApplicationId"></h1>
        <p>
            <label>Status</label>
            <span data-bind="text: Status"></span>
        </p>
        <p>
            <label>Entry Date</label>
            <input data-bind="value: EntryDate" />
        </p>

        <div data-bind="foreach: Clients">
            <span>
                <label>First Name</label>
                <input class="test" data-bind="value: firstName" />
                <label>Surname</label>
                <input data-bind="value: surname" />
            </span>
        </div>
        <div data-bind="foreach: Notes">
            <span>
                <label>NOTE:</label>
                <input data-bind="value: content" />
            </span>
        </div>
    </div>

<!--    <div data-bind="foreach: Application">
        <span>
            <label>Status</label>
            <input data-bind="value: Status" />
        </span>
<!--        <span>
            <label>Surname</label>
            <input data-bind="value: client" />
        </span>-->
<!--        <span>
            <label data-bind="text: Application.Status" />
        </span>-->

        <!--<p>
            <label>Notes</label>
            <input data-bind="value: clientCases.applicants.client.notes.note" />
        </p>        -->
   <!-- </div>-->
</section>

<section>
    <input type="button" data-bind="click: initDb" value="init" />
    <input type="button" data-bind="click: reset" value="reset" />
    <input type="button" data-bind="click: load" value="Refresh" />
    <input type="button" data-bind="click: save" value="Save" />
</section>
